<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>-->

    <typeAliases>
        <package name="com.kny.crm.settings.domain"/>
        <package name="com.kny.crm.workbench.domain"/>
    </typeAliases>

    <!--分页插件 还需再pom文件中加入依赖坐标-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor" />
    </plugins>

    <mappers>
        <package name="classpath:com.kny.crm.*.dao"/>
    </mappers>
</configuration>